@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h4>Help Students Reach Their Potential</h4>
                <h1>Student Information System</h1>
                <p class="text-tertiary">Maging kabalikat sa pag-aaral</p>
                <a href="http://go.microsoft.com/fwlink/?LinkId=301865" class="btn btn-primary mb-4">Learn More</a>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-end">
                
                    <div >
                        <img src="@Url.Content("~/Images/student.png")" width="500" class="img-fluid mx-auto d-block">
                    </div>
                </div>
        </div>
    </div>
</div>

<br />
<div class="container" style="margin-bottom:60px">
    <h1 class="text-center">An easy-to-use Student Information System</h1>
    <br />
    <div class="row d-flex text-capitalize text-center">
        <div class="col-lg-3">
            <img src="@Url.Content("~/Images/reading.png")" alt="">
            <h6 class="row-cs-text">Effortlessly organize student information</h6>
            @Html.ActionLink("See more", "Index", "Students", null, new { @class = "btn btn-primary btn-sm" })
        </div>
        <div class="col-lg-3">
            <img src="@Url.Content("~/Images/test.png")" alt="">
            <h6 class="row-cs-text">Efficiently track and manage student grades</h6>
            @Html.ActionLink("See more", "Index", "Grades", null, new { @class = "btn btn-primary btn-sm" })
        </div>
        <div class="col-lg-3">
            <img src="@Url.Content("~/Images/books-stack-of-three.png")" alt="">
            <h6 class="row-cs-text">Seamlessly oversee subjects and courses</h6>
            @Html.ActionLink("See more", "Index", "Subjects", null, new { @class = "btn btn-primary btn-sm" })
        </div>
        <div class="col-lg-3">
            <img src="@Url.Content("~/Images/male.png")" alt="">
            <h6 class="row-cs-text">Easily add and manage instructors</h6>
            @Html.ActionLink("See more", "Index", "Instructor", null, new { @class = "btn btn-primary btn-sm" })
        </div>
    </div>
</div>

