@model SIS_ITELEC3.Models.Instructors
@{
    ViewBag.Title = Model.Id == 0 ? "New Instructor" : "Edit Instructor";
}

@{
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Instructor"))
{
    <div class="form-group">
        @Html.LabelFor(i => i.Name)
        @Html.TextBoxFor(i => i.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(i => i.Name)
    </div>
    @Html.HiddenFor(i => i.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}