@model SIS_ITELEC3.viewModels.SubjectFormViewModel
@{
    ViewBag.Title = Model.Title;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Subjects"))
{
    <div class="form-group">
        @Html.LabelFor(s => s.Subject.Name)
        @Html.TextBoxFor(s => s.Subject.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Subject.Name)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(s => s.Subject.Year)
        @Html.DropDownListFor(s => s.Subject.Year, new SelectList(new[] { "1st", "2nd", "3rd", "4th" }), "Select Year", new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Subject.Year)
    </div>

   

    <div class="form-group">
        @Html.LabelFor(s => s.Subject.Semester)
        @Html.DropDownListFor(s => s.Subject.Semester, new SelectList(new[] { "1st", "2nd", "Summer" }), "Select Semester", new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Subject.Semester)
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(s => s.Subject.isOverload) Is Overload?
        </label>
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.Subject.InstructorId)
        @Html.DropDownListFor(s => s.Subject.InstructorId, new SelectList(Model.Instructor, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Subject.InstructorId)
    </div>

    @Html.HiddenFor(s => s.Subject.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

